main/default/flows/Test_Wait_Element.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <interviewLabel>Test Wait Element {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Wait Element</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Acc</name>
        <label>Create Acc</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>Create_Opportunity</assignRecordIdToReference>
        <connector>
            <targetReference>Wait_Until_Date_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Wait_Until_Date_1</targetReference>
        </connector>
        <inputReference>testvar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Wait_Until_Date_1</targetReference>
        </connector>
        <inputAssignments>
            <field>LastName</field>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp2</name>
        <label>Create Opp2</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Wait_Until_Date_1</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create element - Test description</description>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Wait_1_minute</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>testvar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TestVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <description>Wait for Amount of Time element - test description</description>
        <name>Wait_1_minute</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait 1 minute</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Weait_Condition</targetReference>
            </connector>
            <label>el_0</label>
        </waitEvents>
    </waits>
    <waits>
        <description>Wait Until Date element  test description</description>
        <name>Wait_Until_Date_1</name>
        <elementSubtype>WaitDate</elementSubtype>
        <label>Wait Until Date 1</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <label>el_1</label>
        </waitEvents>
    </waits>
    <waits>
        <description>Wait  test description</description>
        <name>Weait_Condition</name>
        <label>Wait Condition</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Opp2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Tes3_3</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Create_Acc</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>CreatedDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <stringValue>3r4w3rwrr3r</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Test 1</label>
        </waitEvents>
        <waitEvents>
            <name>Test_2</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Test 2</label>
        </waitEvents>
        <waitEvents>
            <name>WCondition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Wait_1_minute</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case</targetReference>
            </connector>
            <eventType>AIPredictionEvent</eventType>
            <label>Test 3</label>
        </waitEvents>
    </waits>
</Flow>
